<h2>Смена пароля</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.hidden_field :email, autocomplete: "email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group buffer-both col-md-6">
    <%= f.label :password, "Пароль", class: "form-label" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <div class="form-text fst-italic">
        Пароль должен состоять хотя бы из <%= @minimum_password_length %> сиволов
      </div>
    <% end %>
  </div>

  <div class="form-group buffer-both col-md-6">
    <%= f.label :password_confirmation, "Повторите пароль", class: "form-label" %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group buffer-both col-md-6">
    <%= f.label :current_password, "Текущий пароль", class: "form-label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
    <div class="form-text fst-italic">
      Текущий пароль нужен для подтвердения изменений
    </div>
  </div>

  <div class="form-group buffer-both">
    <%= f.submit "Обновить", class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back, class: "link-primary text-decoration-none" %>
  </div>
<% end %>

<div class="buffer-both">
  <%= button_to "Удалить аккаунт",
                registration_path(resource_name),
                data: {
                  confirm: "Это действие безвозвратно удалит ваш аккаунт, продолжть?",
                  turbo_confirm: "Это действие безвозвратно удалит ваш аккаунт, продолжть?"
                },
                method: :delete,
                class: 'btn btn-danger' %>
</div>
