<div class="buffer-bottom border border-secondary-subtle rounded px-3 py-1">
  <div class="d-flex justify-content-between align-items-center">
    <div>
    <p><%= comment.body %></p>
    <p>
      <span>
        <% if comment.user.present? %>
          <%= render partial: 'users/user', object: comment.user %>
        <% else %>
          <em><strong><%= comment.user_name %></strong></em>
        <% end %>
      </span>
    <em><%= l comment.created_at, format: :short %></em>
    </p>
    </div>
    <% if policy(comment).destroy? %>
      <%= button_tag '',
                     class: "btn-close btn-outline-secondary",
                     data: { bs_toggle: "modal", bs_target: "#comment-#{comment.id}"} %>
      <%= render partial: 'partials/destroy_confirm',
                 locals: {
                   title: t('.destroy_confirm'),
                   path: event_comment_path(comment.event, comment),
                   id: "comment-#{comment.id}"
                 } %>
    <% end %>
  </div>
</div>
