<%= form_for @user, html: { multipart: true } do |f| %>

  <%= render partial: 'partials/form_errors', locals: {model: @user} %>


  <div class="form-group buffer-both">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group buffer-both">
    <%= f.label :email, class: "form-label" %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group buffer-both">
    <%= f.label :avatar, class: "form-label" %>
    <p><%= image_tag(@user.avatar.variant(:thumb)) if @user.avatar.persisted? %></p>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>

  <div class="actions buffer-both">
    <%= f.submit t('button.save'), class: 'btn btn-primary' %>
    <%= t('link.or') %>
    <%= link_to t('link.back'), :back, class: "link-primary text-decoration-none" %>
  </div>

<% end %>
