<h2><%= t('events.event.need_pincode') %></h2>

<%= form_with data: { turbo: false } do %>
  <div class="form-group buffer-both">
    <%= label_tag :pincode, t('activerecord.attributes.event.pincode'), class: "form-label" %>
    <%= text_field_tag :pincode, params[:pincode], autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions buffer-both">
    <%= submit_tag t('button.send'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('link.main'), events_path %>
