<%= form_for [@event, photo], html: { multipart: true }, data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: photo } %>

  <div class="form-group buffer-both">
    <%= f.label :photo, class: "form-label" %>
    <%= f.file_field :photo, class: 'form-control' %>
  </div>

  <div class="actions buffer-both">
    <%= f.submit t('button.upload'), class: 'btn btn-primary' %>
  </div>
<% end %>
