<!DOCTYPE html>
<html>
<head>
  <title>Bbq</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>

<div class="navbar bg-body-tertiary">
  <div class="container">
    <%= link_to "BBQ!", root_path, class: 'navbar-brand' %>
    <nav class="navbar bg-body-tertiary">
      <% if user_signed_in? %>
        <%= button_to 'Профиль', current_user, method: :get, class: 'btn btn-outline-success me-2' %>
        <%= button_to 'Выйти', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
      <% else %>
        <%= button_to 'Войти', new_user_session_path,
                      method: :get, class: 'btn btn-outline-success me-2' %>
        <%= button_to 'Зарегистрироваться', new_user_registration_path,
                      method: :get, class: 'btn btn-sm btn-outline-secondary' %>
      <% end %>
    </nav>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <div class="col-lg-3">
    </div><!--/span-->
  </div><!--/row-->

  <footer>
    <p>&copy; Company 2016</p>
  </footer>

</div> <!-- /container -->
</body>
</html>
